numpy<2.0
scipy
scikit-learn
pandas
setuptools
ipykernel
jupyter
virtualenv
ipykernel
matplotlib<3.10
seaborn
tqdm
networkx
statsmodels
umap-learn
torch==1.13.1
tensorboard
optuna
ray[tune]==2.6.2
anndata
scanpy[leiden]
openpyxl
geovoronoi
omnipath
rbo 
